@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "flyonui" {
  themes: light --default, dark;
}
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";
